age: Lorem
blog:
  description: Lorem
  title: Lorem
first_name: Lorem
img_name: Lorem
last_name: Lorem
mobile: Lorem ipsum dolor sit amet,
occupation: Lorem ipsum
profile: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore
social:
  email: Loreum@ip.sum
  github: Lorem
  linked_in: Lorem
  stack_overflow:
    user_id: 0
    username: Lorem
title: Lorem ipsum dolor sit amet, consectetur
url: Lorem
google_analytics_tag: |
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84320686-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-12345678-9');
  </script>
fork_me_on_github: 'bertrand-caron/cv_blog_flask'
main_color: '#F09819'
