body {
  background-color: #fff;
  color: #333;
  font-family: 'Open Sans' sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.container {
  min-height: 500px;
}

h1, h2, h3 {
	font-weight:300;
}
h1 {
	font-size:45px;
}
h2 {
	font-size:40px;
}

p, ol, ul, td {
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.actions {
    margin-bottom: 10px;
  }
}

.section-content{
	margin-left:25px;
	hr {
		margin-top:0px;
		clear:left;
	}
}

.section-title{
	color:#F09819;
	span {
		font-size:30px;
	}
}

.subsection-title {
	color:#F09819;
	font-size:25px;
}

.section-item, .section-comment {
	margin-top:20px;
	width:100%;
	background:#EEEEEE;
	border-radius:10px;
	padding:20px;

	h3 {
		display:inline;
		font-size:23px;
		font-weight:300;
		line-height:30px;
	}

	.popover > h3 {
		display:block;
		font-size:14px;
		line-height: 18px;
	}

	.first-line, .second-line{
		width:100%;
		overflow: hidden;
	}

	.third-line {
		width:100%;
		font-size:15px;
		ul {
			font-size:13px;
		}
	}

	.line--left-content{
		h3 {
			color:#428bca;
		}
		max-width:80%;
		float:left;
	}

	.line--right-content{
		max-width:30%;
		float:right;
	}
	
	.line--right-content, .third-line {
		padding-right:10px;
	}

	.bottom-links {
		font-size:11px;
		max-width:80%;
		display:inline-block;
		ul {
			list-style-type:none;
			font-size:inherit;
			margin:0;
			padding:0;
		}
		a {
			font-weight:600;
		}
	}
}

#skills-content .section-item{
	height:auto;
	clear:both;
	padding:7px 20px;
	margin-top:7px;
}

.first-line--skill {
	display:inline;
	float:left;
	font-size:23px;
	line-height:37px;
	color:#428bca
}


#referees-content .section-item {
	//height:102px;
	padding-bottom:2px;

	li{
		display:block;
		float:left;
	}

	li~li{
		padding-left: 15px;
		//border-left: 1px solid #000000;
	}

	.bottom-links {
		margin-bottom:-8px;
	}
}

#footer {
  margin-top: 50px;
}

.cv-name-header{
	p{
		margin-bottom:0;
	}
	a{
		color:#888;
	}
}

.cv-social-icon {
	display:inline;
}

#cv-social-icons {
	margin-bottom: 0;
	li:nth-child(n+2):before {
		content: "•";
		margin: 0px 5px;
	}
}

.grey{
	color:#888;
}

.profile{
	background-color: #f09819;
}

img#author-img{
	border-radius: 50%;
	border:#f09819 solid 5px;
}

/* BLOG */

#blog-title {
  margin-top:40px;
  font-size: 22px;
}

.text-justified {
  text-align: justify;
}

div.blog-author-side {
  position: absolute;
  width: 19.66667%;
  margin-left: 0;
  margin-right: 1.16667%;
}

#blog-author-side-links {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

#blog-index {
  position:relative;
  left: 25%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
  width: 75%;
}

#blog-description {
  font-size: 115%;
}

.article-date {
  float:right;
}

#all-articles {
  border-bottom: 1px solid #000;
}

#blog-footer {
  margin-top: 100px;
}

.span-supervisor {
  font-size: 50%;
}
