- authors: Lorem ipsum dolor sit amet, consectetur adipiscing
  doi: Lorem
  journal: Lorem ipsum dolor sit amet, consectetur adipiscing
  title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  year: Lorem
