<div class="blog-author-side">
  <h2 id="#blog-title">
    <a href='/blog'>{{ config['blog']['title'] }}</a>
  </h2>

  <img id="author-img" src="{{ url_for('static', filename='uploads/' + config['img_name']) }}" style='height: 150px; border-color: #428bca;'>

  <h2>
    {{ config['first_name'] + ' ' + config['last_name'] }}
  </h2>
  <p class="text-justified">
    {{ config['biography'] }}
  </p>
  <ul id="blog-author-side-links">
    <a>
      <li>
        {{ fa_icon('envelope-square') }}
        <a href="/contact">Email</a>
      </li>
    </a>
    <a>
      <li>
        {{ fa_icon('github-square') }}
        <a href="https://github.com/{{ config['social']['github'] }}">Github</a>
      </li>
    </a>
    <a>
      <li>
        {{ fa_icon('stack-overflow') }}
        <a href="http://stackoverflow.com/users/{{ config['social']['stack_overflow']['user_id'] }}">Stack Overflow</a>
      </li>
    </a>
    <a>
      <li>
        {{ fa_icon('industry') }}
        <a href="/">CV</a>
      </li>
    </a>
  </ul>
</div>
