<div class="listable-item" onmouseout="hide_edit_tools(this)" onmouseover="show_edit_tools(this)">
  <div class="first-line--programming-skill">
  <i class="fa fa-git"></i>
  {{ item['title'] }}
  <span style="margin-left:20px;font-size:18px;height:30px">
    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
  </span>
  </div>
  <p align="right" style="padding-top:7px;margin-bottom:8px">
    {{ item['description']}}
  </p>
</div>
